.semantical {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.button {
  border-radius: 22px;
  border: none;
}

.button__icon-arrow {
  &--red {
    margin-top: 2px;
    margin-left: 13px;
    display: inline-block;
  }

  &--white {
    @extend .button__icon-arrow--red;
  }
}