$color-black: #000000;
$color-monsoon: #907E82;
$color-debian_red: #D41443; //Hover
$color-cardinal: #C41E3A; //Most icons and dots
$color-flamingo_pink: #FFA5BA;
$color-baby_pink: #FFB8CA; //Hero background 
$color-maize: #F0D1A5;
$color-light_green: #C2E297;
$color-light_grey: #D9D9D9; //Inactive dots
$color-lavender: #E1E1E1;
$color-rose_white: #FFF5F6;
$color-white: #FFFFFF;


