<section class="about">
  <div class="container">
    <p class="about__title">tradition and love</p>
    <h2 class="about__subtitle">how it’s made?</h2>
    <div class="about__image">
      <img
        src="./images/about/mobile/about_cow.mobile.png"
        alt="Корова и молоко"
        width="280"
        height="279"
      />
    </div>
    <div class="about__box_text">
      <p class="about__pretext">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. <br />

        Aliquam erat volutpat. Aenean accumsan.
      </p>
    </div>
    <button type="button" class="about__btn button">
      Read more
      <svg class="about__button-icon">
        <use href="./images/icons.svg#icon-vector-pink"></use>
      </svg>
    </button>
  </div>
</section>
