<section class="about">
    <div class="container">
        <p class="about__title">tradition and love</p>
        <h2 class="about__subtitle">how it’s made?</h2>
        <!-- <div class="about__image"><img src="./images/about/img_mob.png" alt="Корова и молоко" width="280px" ></div> -->
        <ul class="about__list">
            <li class="about__item">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</li>
            <li class="about__item">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            
            Aliquam erat volutpat. Aenean accumsan.</li>
        </ul>
        <button type="button" class="">Read more</button>
    </div>
</section>

