<section class="about">
    <div class="container">
        <h2 class="about__title">tradition and love</h2>
        <h2 class="about__subtitle">how it’s made?</h2>
        <div class="about__image"><img src="./images/about/img_mob.png" alt="Корова и молоко" width="280px" ></div>
        <ul class="about__list">
            <li class="about__item">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</li>
            <li class="about__item">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            
            Aliquam erat volutpat. Aenean accumsan.</li>
        </ul>
        <ul class="advantages__list">
            <li class="advantages__item">
                <div class="advantages__icon"></div>
                <h4 class="advantages__titel">721</h4>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__icon"></div>
                <h4 class="advantages__titel">16kg</h4>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__icon"></div>
                <h4 class="advantages__titel">84</h4>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>