    <section class="contacts">
        <div class="container">
            <h2 class="contacts__title semantical">Contacts</h2>
            
            <ul class="contacts__list">
            <li class="contacts__item">
            <p class="contacts__text">CAFE</p>

            <h3 class="contacts__subtitle">Chicago</h3>
            <p class="contacts__subtext">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>

            <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>

            
            <li class="contacts__item">
            <p class="contacts__text contacts__text--bg">FOODTRUCK</p>

            <h3 class="contacts__subtitle">Los Angeles</h3>
            <p class="contacts__subtext">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__day" >Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>

            <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>


            <li class="contacts__item">
            <p class="contacts__text">CAFE</p>

            <h3 class="contacts__subtitle">New York</h3>
            <p class="contacts__subtext">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

            <p class="contacts__day" >Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__time" >08:00 AM - 16:00 PM</p>

            <a class="contacts__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            </ul>

            <button class="contacts__btn contacts__btn--primary button" type="button">Our Locations</button>
            <button class="contacts__btn contacts__btn--secondary button" type="button">Franchise</button>

        </div>
    </section>