<section class="customer-reviews">
  <div class="container">
    <ul class="customer-reviews__list">
      <li class="customer-reviews__item">
        <img
          srcset="./images/customer/customer1.jpg 1x, ./images/customer/customer1.jpg 2x"
          src="./images/customer/customer1.jpg"
          alt="Фото клиента"
          class="customer-reviews__img"
        />
        <div class="customer-reviews__text-wrap">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <p class="customer-reviews__address">Emily, Los Angeles</p>

        <svg width="72" height="12" class="customer-reviews__slider-dots">
          <use href="./images/icons.svg#icon-slider-dots"></use>
        </svg>
      </li>
      <!-- <li class="customer-reviews__item"></li>
      <li class="customer-reviews__item"></li> -->
    </ul>
  </div>
</section>
