<section class="gallery">
    <div class="container gallery__container">
        <h2 class="semantical">Gallery</h2>
        <picture>
            <source media="(min-width: 1280px)" srcset="./images/gallery/desktop/gallery-desk.jpg 1x, ./images/gallery/desktop/gallery-desk-2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="./images/gallery/tablet/gallery-tab.jpg 1x, ./images/gallery/tablet/gallery-tab-2x.jpg 2x">
            <source media="(min-width: 320px)" srcset="./images/gallery/mobile/gallery-mob.jpg 1x, ./images/gallery/mobile/gallery-mob-2x.jpg 2x">
            <img src="./images/gallery/desktop/gallery-desk.jpg" alt="Collage of images with ice cream">
        </picture>
    </div>
</section>