<!-- Products Section -->
<section class="products">
  <!-- Semantical H2, must be hidden  -->
  <h2 class="semantical">Products</h2>
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/products/mobile/products_ice-cream.mobile.png    1x,
              ./images/products/mobile/products_ice-cream.mobile@2x.png 2x
            "
          />
          <source
            srcset="
              ./images/products/tablet/products_ice-cream.tablet.png    1x,
              ./images/products/tablet/products_ice-cream.tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/products/desktop/products_ice-cream.desktop.png    1x,
              ./images/products/desktop/products_ice-cream.desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="products__img"
            src="./images/products/mobile/products_ice-cream.mobile.png"
            alt="Ice cream with strawberry and mint"
          />
        </picture>
        <h3 class="products__item-title">Ice Cream</h3>
        <span class="products__dividing-line"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__btn" type="button"></button>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ./images/products/mobile/products_ice-coffee.mobile.png    1x,
              ./images/products/mobile/products_ice-coffee.mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/products/tablet/products_ice-coffee.tablet.png    1x,
              ./images/products/tablet/products_ice-coffee.tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/products/desktop/products_ice-coffee.desktop.png    1x,
              ./images/products/desktop/products_ice-coffee.desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="products__img"
            src="./images/products/mobile/products_ice-coffee.mobile.png"
            alt="Ice coffe with tubule"
          />
        </picture>
        <h3 class="products__item-title">ice coffee</h3>
        <span class="products__dividing-line"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="
              ./images/products/mobile/products_milkshakes.mobile.png    1x,
              ./images/products/mobile/products_milkshakes.mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/products/tablet/products_milkshakes.tablet.png    1x,
              ./images/products/tablet/products_milkshakes.tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/products/desktop/products_milkshakes.desktop.png    1x,
              ./images/products/desktop/products_milkshakes.desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="products__img"
            src="./images/products/mobile/products_milkshakes.mobile.png"
            alt="Chocolate milkshake"
          />
        </picture>
        <h3 class="products__item-title">milkshakes</h3>
        <span class="products__dividing-line"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
    </ul>
  </div>
</section>
