<!-- Products Section -->
<section class="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__item-title">Ice Cream</h3>
        <span class="products__dividing-line"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et<span class="products__text-hide">. dolore magna aliqua facilisis.</span>
        </p>
        <a class="products__link" href="#">
          <img
            src="./images/products/mobile/products_arrow-right.mobile.png"
            alt="Kiwi standing on oval"
          />
        </a>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">ice coffee</h3>
        <span class="products__dividing-line"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et<span class="products__text-hide">. dolore magna aliqua facilisis.</span>
        </p>
        <a class="products__link" href="#">
          <img
            src="./images/products/mobile/products_arrow-right.mobile.png"
            alt="Kiwi standing on oval"
          />
        </a>
      </li>
      <li class="products__item">
        <h3 class="products__item-title">milkshakes</h3>
        <span class="products__dividing-line"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et<span class="products__text-hide">. dolore magna aliqua facilisis.</span>
        </p>
        <a class="products__link" href="#">
          <img
            src="./images/products/mobile/products_arrow-right.mobile.png"
            alt="Kiwi standing on oval"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
