.contacts {
  padding-top: 86px;
  background-color: $main-background-soft-pink;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    padding-top: 119px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 132px;

    background-image: url('../images/contacts/bg-droppink.1x.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/contacts/bg-droppink@2x.png');
    }
  }
}

.contacts__list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -10px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    margin: -15px;
  }
}

.contacts__item {
  max-width: 220px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  background-color: $text-color-white;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 20px);
    margin: 10px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

.contacts__card-set {
  padding: 43px 21px 43px 20px;

  @media screen and (min-width: 768px) {
    padding: 50px 32px 50px 31px;
  }

  @media screen and (min-width: 1280px) {
    padding: 51px 44px 62px 43px;
  }
}

.contacts__name {
  max-width: 80px;
  // height: 16px;
  margin-bottom: 25px;

  align-items: center;
  text-align: center;

  background-color: $product-background-beige;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    width: 73px;
    // height: 28px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {
    width: 73px;
    // height: 28px;
    margin-bottom: 32px;
  }
}

.contacts__name--bg {
  min-width: 130px;
  // height: 16px;

  background-color: $product-background-olive;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    min-width: 138px;
    // height: 28px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 138px;
    // height: 28px;
  }
}

.contacts__text {
  color: $text-color-white;

  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;

  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__title {
  margin-bottom: 10px;

  color: $text-color-black;

  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    width: 85px;
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    width: 138px;
    font-size: 16px;
  }
}

.contacts__subtext {
  width: 179px;

  color: $text-color-grey;

  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;

  @media screen and (min-width: 768px) {
    width: 145px;
    font-size: 14px;
    line-height: 166%;
  }

  @media screen and (min-width: 1280px) {
    width: 243px;
    font-size: 16px;
    line-height: 183%;
  }
}

.contacts__schedule:not(:last-child) {
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.contacts__day {
  color: $text-color-black;

  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.contacts__time {
  width: 161.9px;

  color: $text-color-pink;

  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;

  @media screen and (min-width: 768px) {
    width: 142px;
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    width: 163px;
    font-size: 16px;
  }
}

.contacts__link {
  display: block;

  width: 179px;
  color: $text-color-grey;

  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;

  @media screen and (min-width: 768px) {
    width: 157px;
    font-size: 14px;
    line-height: 183%;
  }

  @media screen and (min-width: 1280px) {
    width: 243px;
    font-size: 16px;
    line-height: 183%;
  }
}

.contacts__subtext {
  position: relative;

  &::after {
    content: '';
    display: block;
    left: 0;
    width: 100%;
    // height: 0px;
    height: 0px;
    border-top: 1px solid #e1e1e1;
    // border: 1px solid #e1e1e1;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.contacts__cards {
  position: relative;

  &::after {
    content: '';
    display: block;
    left: 0;
    width: 100%;
    height: 0px;
    border-top: 1px solid #e1e1e1;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.contacts__button {
  margin-top: 54px;
  display: flex;

  @media screen and (max-width: 767px) {
    // display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    margin-top: 81px;
    // display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1280px) {
    // display: flex;
    // justify-content: center;
  }
}

.contacts__btn {
  font-family: $main-font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  min-width: 161px;
  height: 44px;
  padding: 0px;

  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    min-width: 191.45px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 198px;
  }
}

.contacts__button-primary {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 14.5px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 15px;
  }
}

.contacts__btn--primary {
  color: $button-white;
  background-color: $button-red;

  &:hover,
  &:focus {
    background-color: $button-hover-red;
  }

  // @media screen and (min-width: 767px) {
  //   margin-bottom: 10px;
  // }

  // @media screen and (min-width: 768px) {
  //   margin-right: 14.5px;
  // }

  // @media screen and (min-width: 1280px) {
  //   margin-right: 15px;
  // }
}

// .contacts__btn--primary:hover,
// .contacts__btn--primary:focus {
//   background-color: $button-hover-red;
// }

.contacts__button-secondary {
  @media screen and (min-width: 768px) {
    width: 174px;
  }

  @media screen and (min-width: 1280px) {
    width: 180px;
  }
}

.contacts__btn--secondary {
  color: $button-red;
  background-color: $button-white;

  &:focus,
  &:hover {
    background-color: $button-hover-grey;
  }

  // @media screen and (min-width: 768px) {
  //   width: 174px;
  // }

  // @media screen and (min-width: 1280px) {
  //   width: 180px;
  // }
}

// .contacts__btn--secondary:hover,
// .contacts__btn--secondary:focus {
//   background-color: $button-hover-grey;
// }

.btn-icon {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;

  @media screen and (min-width: 768px) {
    margin-left: 13px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 14px;
  }
}

.btn-icon--primary {
  fill: $button-white;
}

.btn-icon--secondary {
  fill: $button-red;
}

// .modal {
//   position: absolute;
//   width: 100%;
//   height: 100%;

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  // overflow-y: auto;
  // overflow-x: hidden;
  transition: all 0.8s ease 0s;
  background-color: $main-background-soft-pink;
}

.modal__active {
  opacity: 1;
  visibility: visible;
}
// .modal__active {
//   position: fixed;

//   top: 0;
//   left: 0;
//   opacity: 0;
//   visibility: hidden;
//   transition: all 0.8s ease 0s;
//   background-color: $main-background-soft-pink;
// }

// .modal__active {
//   opacity: 1;
//   visibility: visible;
// }

// .modal__active .modal__content {
//   transform: translate(0px, 0px);
//   transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
//   opacity: 1;
// }

// .modal__body {
//   min-width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 30px 10px;
//   transition: all 08s ease 0s;
// }

// .modal__content {
//   background-color: $main-background-soft-pink;
//   color: $customer-dots-color;
//   max-width: 700px;
//   padding: 30px;
//   position: relative;
//   opacity: 0;
//   // transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
//   transform: translate(0px, -100%);
//   transition: all 0.8s ease 0s;
// }

// .modal__close-btn {
//   position: absolute;
//   cursor: pointer;
//   top: 8px;
//   right: 8px;
//   width: 30px;
//   height: 30px;
//   display: inline-flex;
//   align-self: flex-start;
//   justify-content: center;
//   align-items: center;
//   border-radius: 50%;
//   border-color: $main-background-hard-pink;
//   border: 1px solid rgba(212, 20, 67, 0.1);
//   box-sizing: border-box;
//   background-color: $button-white;

//   transition: all 0.8s ease 0s;
// }

// .modal__close-btn:hover,
// .modal__close-btn:focus {
//   fill: $customer-dots-color;
// }

// .modal__title {
//   font-family: $main-font-family;
//   font-size: 40px;
//   margin: 0px 0px 25px 0px;
// }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $main-background-soft-pink;
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal {
  /*position: fixed;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 800px;
  height: 350px;
  // color: $customer-dots-color;
  // background-color: $main-background-soft-pink;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: $main-background-hard-pink;
  border: 1px solid rgba(212, 20, 67, 0.1);
  box-sizing: border-box;
  background-color: $button-white;
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  fill: $customer-dots-color;
}

.modal__title {
  font-family: $main-font-family;
  font-size: 20px;
  margin: 0px 0px 25px 0px;
}

.modal__text {
  font-family: $main-font-family;
  margin: 0px 0px 15px 0px;
}

.modal__content {
  background-color: $main-background-soft-pink;
  color: $customer-dots-color;
  max-width: 100%;
  padding: 30px;
  //   position: relative;
  //   opacity: 0;
  //   // transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  //   transform: translate(0px, -100%);
  //   transition: all 0.8s ease 0s;
}
