.customer-reviews {
  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.customer-reviews__img {
  width: 85px;
  height: 85px;
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.customer-reviews__text-wrap.customer-reviews__text-wrap {
  margin-bottom: 30px;
  background-color: $customer-text-bgc;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 34px;
  }
}

.customer-reviews__text {
  width: 157px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 43px;
  padding-bottom: 26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: $text-color-black;

  @media screen and (min-width: 768px) {
    width: 460px;
    padding-top: 47px;
    padding-bottom: 34px;
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    width: 750px;
    padding-bottom: 39px;
    font-style: 16px;
    line-height: 1.88;
  }
}

.customer-reviews__address {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: $text-color-black;

  &::before {
    content: '';
    display: block;
    background-image: url(/images/customer/dots.png);
    width: 32px;
    height: 4px;
    margin: 0 auto 18px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.88;

    &::before {
      margin-bottom: 14px;
    }
  }

  @media screen and (min-width: 1280px) {
    font-style: 20px;
    line-height: 1.85;

    &::before {
      margin-bottom: 15px;
    }
  }
}

.customer-reviews__slider-dots {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
