.customer-reviews {
  border: 1px solid #e1e1e1;
  margin-top: 134px;


  @media screen and (min-width: 320px) {
    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 620px; 
    margin-left: 74px;
    margin-right: 74px;
  }


  @media screen and (min-width: 1280px) {
    width: 926px;
    margin-left: 178px;
    margin-right: 176px;
  }
}





.customer-reviews__list-item-img {
  width: 85px;
  height: 85px;
  margin: auto;
  display: block;
  justify-content: center;

}
// .customer-reviews__list-item {
//   @media screen and (min-width: 328px) {
//     width: 157px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 620px;
//   }

//   @media screen and (min-width: 1280px) {
//     width: 926px;
// }
// }
.customer-reviews__item-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  background-color: #e1e1e1;
  position: relative;

  @media screen and (min-width: 320px){
    width: 180px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 28px;
   }
    

  @media screen and (min-width: 768px) {
   width: 544px;
   margin-left: 40px;
   margin-right: 40px;
   margin-top: 30px;
    margin-bottom: 28px;
  }
   
 
  @media screen and (min-width: 1280px) {
  width: 822px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 50px;
  margin-right: 54px;
  margin-top: 15px;
  margin-bottom: 15px;
}
}
.customer-reviews__text::before {
  width: 54px;
  height: 40px;
  border-color: #e1e1e1;
 }

.customer-reviews__text {
  position: absolute;
  border: 1px;
  background-image: repeating-linear-gradient 
  (#e1e1e1);
}


.elips {
  display: block;
  width: 4px;
  height: 4px;
  background: #c7133e;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 34px;

  @media screen and (min-width: 768px) {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 28px;
   }
   @media screen and (min-width: 1280x) {
    margin-left: 450px;
   }
 
}
.elips::before,
.elips::after {
  content: '';
  width: 4px;
  height: 4px;
  margin-right: 10px;

}



.customer-reviews__text-coment {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 15px;
}

.customer-reviews__button{

margin-left: 400px;
@media screen and (min-width: 320px){
  width: 180px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 28px;
 }
  

@media screen and (min-width: 768px) {
 margin-left: 300px;
 margin-right: 300px;
 margin-top: 30px;
  margin-bottom: 28px;
}
 

@media screen and (min-width: 1280px) {
margin-left: 400px;
}

}
.customer-reviews__btn {
 width: 12px;
 height: 12px;
 border-radius: 50%;
 margin-left: 18px;
 

}