.gallery {
  background-image: linear-gradient($main-background-soft-pink 40%, #fff 40%);
}
.grid-masonry {
  max-width: 100%;
  max-height: 100%;
}
.grid-masonry-item__image {
  border-radius: 15%;
}
