.header {
  position: absolute;
  //   display: flex;
  width: 100%;
  height: 87px;
}

.header__box {
  display: flex;
  //   width: 100%;
  //   background-color: red;
  //   justify-content: space-around;
}

.header__logo {
  position: absolute;
  width: 199px;
  height: 50px;
  left: 46px;
  top: 37px;
}

.header__navigate-list {
  position: absolute;
  display: flex;
  padding: 0;
  width: 541px;
  height: 21px;
  left: 355px;
  top: 50px;
  z-index: 2;
}

.header__navigate-item:nth-child(n + 2) {
  margin-left: 35px;
}

.header__navigate-link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  //   align-items: center;
  flex-wrap: nowrap;

  color: #ffffff;
  transition: 0.5s;

  &:hover {
    color: #d41443;
    transition: 0.5s;
  }
}

.button__buy-now {
  position: absolute;
  width: 159px;
  height: 44px;
  left: 1006px;
  top: 38px;
}

.button__buy-now {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  border: none;
  border-radius: 22px;
  background-color: #ffffff;
  transition: 0.5s;
  color: #d41443;

  &:hover {
    background-color: #ecebeb;
    transition: 0.5s;
  }
}

.button-red {
  //   width: 102px;
  // height: 40px;
  // left: 115px;
  // top: 333px;

  width: 104px;
  height: 40px;
  //   left: 115px;
  //   top: 333px;
  justify-content: center;
  background: #d41443;
  border-radius: 20px;
  border: none;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  transition: 0.5s;

  &:hover {
    background-color: #c7133e;
    transition: 0.5s;
  }
}

.button-white {
  width: 138px;
  height: 40px;
  left: 234px;
  top: 333px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 138px;
  height: 40px;
  left: 234px;
  top: 333px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  border: none;
  color: #d41443;
  transition: 0.5s;

  &:hover {
    background-color: #ecebeb;
    transition: 0.5s;
  }
}

.hero {
  background-color: #ffb8ca;
}

.hero__box {
  //   position: relative;
  height: 665px;
}

.hero__title {
  position: absolute;

  width: 277px;
  height: 137px;
  left: 115px;
  top: 171px;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero__title-passion {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 90.5%;
  /* or 52px */

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.hero__buttons-list {
  position: absolute;
  display: flex;
  // width: 104px;
  // height: 40px;
  left: 115px;
  top: 333px;
}

.hero__buttons-item:nth-child(2) {
  margin-left: 15px;
}

.hero__milk-bottle {
  position: absolute;
  width: 188px;
  height: 191px;
  left: 77px;
  top: 429px;
}

.hero__inviting {
  position: absolute;
  width: 200px;
  height: 78px;
  left: 295px;
  top: 485px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  color: #ffffff;
}

.hero__btn--arrow {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 295px;
  top: 583px;
  background-position: center;
  background-size: cover;
  background-image: url('../images/products/mobile/products_arrow-right.mobile.png');

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url('../images/products/mobile/products_arrow-right.mobile@2x.png');
  }

  @media screen and (min-width: '768px') {
    background-image: url('../images/products/tablet/products_arrow-right.tablet.png');

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url('../images/products/tablet/products_arrow-right.tablet@2x.png');
    }
  }

  @media screen and (min-width: '1280px') {
    background-image: url('../images/products/desktop/products_arrow-right.desktop.png');

    @media (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url('../images/products/desktop/products_arrow-right.desktop@2x.png');
    }
  }
}

.hero__ellipse {
  position: absolute;
  width: 538px;
  height: 538px;
  left: 475px;
  top: 52px;
}

.hero__ice-cream {
  position: absolute;
  width: 236px;
  height: 557px;
  left: 594px;
  top: 108px;
}

.hero__cafes {
  position: absolute;
  //   background-color: rebeccapurple;
  background-image: url(/images/header-hero/desktop/hero_ellipse-small.desktop.png);
  background-position: top 0 right 0;
  background-repeat: no-repeat;
  width: 72px;
  height: 77px;

  left: 1111px;
  top: 156px;
}

.hero__cafes-verbal {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  //   text-align: right;

  color: #ffffff;
}

.hero__cafes-numeric {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 53px;
  /* identical to box height */

  //   text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.hero__trucks {
  position: absolute;
  width: 92px;
  height: 76px;
  left: 1091px;
  top: 248px;

  background-image: url(/images/header-hero/desktop/hero_ellipse-small.desktop.png);
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}

.hero__trucks-numeric {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.hero__trucks-verbal {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  text-align: left;

  color: #ffffff;
}

.hero__so-tasty {
  position: absolute;
  width: 293px;
  height: 232px;
  left: 878px;
  top: 433px;
}